
/* Header CSS */
html {
	scroll-behavior: smooth;
}
body{
    margin: 0;
    background-image: url("../images/y-so-serious-white.png");
    font-family: 'Bebas Neue', cursive;
    overflow: none;
}
header{
    
    height: 150px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* background-color: #4C5261; */
    background-color: black;
}


header > h1{
    display: flex;
    justify-content: center;
    transition: .5s;
    margin-top: 60px;
    font-size: 3em;
    color: white;
    /* -webkit-animation: color-change 2s infinite; */
}

header > h1:hover{
    color: white;
    transition: .5s;
}

/* Navigaiton CSS */
nav {
    top: 0;
    overflow: hidden;
    background-color: #BDDDEB;
    height: 60px;
    position: fixed;   
    width: 100%;
    height: 50px;
    
}
nav > .buttons{
    display: flex;
    justify-content: space-evenly;
}
nav > .buttons > a{
    margin-top: 15px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: .5s;
}
nav > .buttons > img{
    margin-top: 3px;
    transition: .5s
}
/* nav > .buttons > img:hover{
    background-color: white;
    transition: .5s;
    width: 65px;
} */
nav > .buttons > a:hover{
    color: white;
    transition: .5s;
    letter-spacing: .5px;
    /* font-size: 25px; */
}

/* Section */
section {
    margin-top: 60px;
}
section h1{
    font-size: 3em;
    text-align: center;
}
section h1{
    margin-bottom: -70px;
    padding-top: 30px;
}
section p .text{
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
}
section .text{
    margin: 100px 20px 0px 20px; 
}
section p {
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
}
section .title{
    margin-bottom: 10px;
    margin-top: 10px;
}
/* About Css */
#about{
    height: 80%;
}
#about > .content{
    display: flex;
    align-items: center;
    justify-content: center;
}
#about > h1{
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    
}
#about > .content > .text > h3{
    font-size: 2em;
    text-align: center;
    margin-left: 70px;
}
#about > .content > .text > p{
    font-size: 2em;
    text-align: center;
    margin-left: 100px;

}
#about > .content > .textleft > p{
    font-size: 2em;
    text-align: left;
    
  

}
#about >.content >img{
    border-radius: 100%;
    box-shadow: 10px 10px 10px gray;
    display: flex;
    width: 40%;
    
}

/* Projects CSS */
#projects{
    height: 100%;

    margin: 0 2.5%;
}
#projects > h1{
    font-size: 2.5em;
    display: flex;
    justify-content: center;
}
#projects > .images{
    display: flex;
    justify-content: space-evenly;

}

#projects > .imagemiddle{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}
#projects > .images > img{
    margin: 10px;
    transition: .5s;    
    width: 47%;
    
}
#projects > .imagemiddle > img{
    margin: 10px;
    transition: .5s;    
}
#projects > .images > .pet:hover{
    margin: 10px;
    box-shadow: 10px 10px 10px gray;
    transition: .5s;
}
#projects > .images > .devcamp:hover{
    margin: 10px;
    box-shadow: 10px 10px 10px gray;
    transition: .5s;
}
#projects > .imagemiddle > .codepen:hover{
    margin: 10px;
    box-shadow: 10px 10px 10px gray;
    transition: .5s;
}
#projects > .imagemiddle > .utah:hover{
    margin: 10px;
    box-shadow: 10px 10px 10px gray;
    transition: .5s;
}
#projects > .imagemiddle > .kids:hover{
    margin: 10px;
    box-shadow: 10px 10px 10px gray;
    transition: .5s;
}
#projects > .images2 {
    display: flex;
    justify-content: space-around;
}
#projects > .images2> img {
    transition: .5s;
    margin: 10px;
}

#projects > .images2 > .vine{
    width: 45%;
}
#projects > .images2 > .elk{
    width: 40%;
}
#projects > .images2 > img:hover{
    margin: 10px;
    box-shadow: 10px 10px 10px gray;
    transition: .5s;
}

#projects > .last{
    display: flex;
    justify-content: center;
}

#projects > .last >img{
    
    transition: .5s;
}
#projects > .last > img:hover{
    transition: .5;
    box-shadow: 10px 10px 10px gray;
}
/* Certifications Css */



#certification{
    height: 700px;
}
#certification > h1{
    font-size: 2.5em;
    display: flex;
    justify-content: space-around;
}




#certification > .grid {
display: flex;
align-items: center;
justify-content: space-evenly;
width: 100%;
margin-top: 10px;
}
#certification > .grid2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 10px;
}
#certification > .grid3 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   width: 100%;
   margin-top: 10px;
}


#certification > .grid> a >  img{

    transition: .5s;
    width: 150px;
    margin: 10px 10px 10px 30px;
}
#certification > .grid2 >  a > img{

    transition: .5s;
    width: 150px;
    margin: 10px 10px 10px 30px;
}
#certification > .grid3 > a >  img{
    transition: .5s;
    width: 150px;
    margin: 10px 10px 10px 30px;
}




#certification > .grid> a >img:hover{
    width: 170px;
    /* box-shadow: 10px 10px 10px gray; */
    transition: .5s;
}
#certification > .grid2> a > img:hover{
    width: 170px;
    /* box-shadow: 10px 10px 10px gray; */
    transition: .5s;
}
#certification > .grid3> a > img:hover{
    width: 170px;
    /* box-shadow: 10px 10px 10px gray; */
    transition: .5s;
}





#certification > .grid > p{
    font-size: 30px;
    margin-left: 0%;
}
/* Contact css */
#contact{
    height: 800px;
    margin-top: 150px;
}
#contact > h1{
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
/* Footer css */
footer {
    background-color: #BDDDEB;
    height: 150px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
footer > .logo{
    display: flex;
    justify-content: center;
}
footer > .logo > img{
    margin-top: 10px;
    margin-bottom: 10px;
}
footer > .icons{
    display: flex;
    justify-content: center;
}
footer>.icons>i{
    font-size: 2em;
    padding: 0 10px 10px 0;
    transition: .3s;
}
footer>.icons>i:hover{
    color: white;
    transition: .3s;
}
footer > p{
    display: flex;
    justify-content: center;
    margin-top: -7px;
}

footer>.icons>a>i{
    font-size: 2em;
    padding: 0 10px 10px 0;
    transition: .3s;
    color: black;
}
footer>.icons>a>i:hover{
    color: white;
    transition: .3s;
}




/* icons  */
.icons > i{
    font-size: 2.5em;
}
.icons > a > i{
    font-size: 2.5em;
}
/* form */
.form > .form-group{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
.form > .centered-btn{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
.form input {
    font-size: 1.5em;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    border: 3px solid #11122b;
    border-bottom: 3px solid #11122b;
    width: 50%;
    display: block;
    transition: all 0.3s;
}



.form textarea {
    margin-top: 20px;
    width: 50%;
    height: 250px;
    border-radius: 3px;
    border: 3px solid #11122b;
    font-size: 1.5rem;
    font-family: inherit;
    color: color;
    padding: 1.5rem 2rem;
    transition: all 0.3s;
}

.form label{
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    color: #17E6DF;
    visibility: hidden;
    border: 3px solid #11122b;
    }

/* button */
.btn {
    background-color: #BDDDEB;
    color: black;
    font-size: 1.25em;
    padding: 10px 25px;
    border: 1px solid #BDDDEB;
    border-radius: 2px;
    
    transition: 0.3s;
}

.btn:hover {
    box-shadow: 5px 5px 3px gray;
}

.centered-btn-wrapper {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 600px){
    #about > .content > img{
        width: 70%;
    }
  
    #projects > .images{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  #projects > .images > img{
      width: 90%;
  }

  #projects > .imagemiddle{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  #projects > .imagemiddle > img{
      width: 90%;
  }

  #projects > .last > img{
      width: 100%;
  }

  #projects > .images2{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }


  #projects > .images2 > .vine{
    width: 95%;
  }
  #projects > .images2 > .elk{
    width: 95%;
  }

  #certification{
      height: auto;
  }

  #certification > .grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


#certification > .grid2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#certification > .grid3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}



}