
/* Header CSS */
body{
    margin: 0;
    background-image: url("../images/y-so-serious-white.png");
}
header{
    
    height: 150px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* background-color: #4C5261; */
    background-color: black;
}

/* header > .logo{
    display: flex;
    justify-content: center;
}
header >.logo > img{
    width: 100px;
    transition: .5s;
    margin-top: 50px;
}
header >.logo > img:hover{
    width: 150px;
    transition: .5s;
} */
header > h1{
    display: flex;
    justify-content: center;
    transition: .5s;
    margin-top: 60px;
    font-size: 3em;
    color: white;
    -webkit-animation: color-change 2s infinite;
}
@-webkit-keyframes color-change {
    0% {color:white;}
    50% {color: black;}
    100% {color: white;}
}
header > h1:hover{
    color: white;
    transition: .5s;
}
/* header > .icons{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
}
header > .icons > i:hover{
    color: #17E6DF;
    transition: .5s;
    font-size: 3em;
}
header > .icons > i{
    padding-right: 10px;
    padding-left: 10px;
  
} */
/* Navigaiton CSS */
nav {
    background-color: #BDDDEB;
    height: 60px;
    position: fixed;   
    width: 100%;
    height: 50px;
    margin-top: -20px;
}
nav > .buttons{
    display: flex;
    justify-content: space-evenly;
}
nav > .buttons > a{
    margin-top: 15px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: .5s;
}
nav > .buttons > img{
    margin-top: 3px;
    transition: .5s
}
/* nav > .buttons > img:hover{
    background-color: white;
    transition: .5s;
    width: 65px;
} */
nav > .buttons > a:hover{
    color: white;
    transition: .5s;
    letter-spacing: .5px;
    /* font-size: 25px; */
}

/* Section */
section > h1{
    
}


/* About Css */
#about{
    height: 80%;
}
#about > .content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    display: flex;

}
#about > h1{
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    margin-bottom: -10px;
    
}
#about > .content > .text > h3{
    font-size: 2em;
    text-align: center;
    margin-left: 70px;
}
#about > .content > .text > p{
    font-size: 2em;
    text-align: center;
    margin-left: 100px;

}
#about >.content >img{
    border-radius: 100%;
   margin-left: 30%;
    box-shadow: 10px 10px 10px gray;
}
/* Projects CSS */
#projects{
    height: 100%;
}
#projects > h1{
    font-size: 2.5em;
    display: flex;
    justify-content: center;
}
#projects > .images{
    display: flex;
    justify-content: space-evenly;

}
#projects > .images > img{
    margin: 10px;
    transition: .5s;
}
#projects > .images > img:hover{
    margin: 10px;
    box-shadow: 10px 10px 10px gray;
    transition: .5s;
}

/* Certifications Css */
#certification{
    height: 400px;
}
#certification > h1{
    font-size: 2.5em;
    display: flex;
    justify-content: center;
}
#certification > .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-self: center;
    margin-left: 10%;
}
#certification > .grid>  img{
    padding-right: 10%;
    transition: .5s;
    width: 150px;
}
#certification > .grid> img:hover{
    width: 170px;
    /* box-shadow: 10px 10px 10px gray; */
    transition: .5s;
}

#certification > .grid > p{
    font-size: 30px;
    margin-left: 0%;
}
/* Contact css */
#contact{
    height: 800px;
}
#contact > h1{
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
/* Footer css */
footer {
    background-color: #4C5261;
    height: 150px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
footer > .logo{
    display: flex;
    justify-content: center;
}
footer > .logo > img{
    margin-top: 10px;
    margin-bottom: 10px;
}
footer > .icons{
    display: flex;
    justify-content: center;
}
footer>.icons>i{
    font-size: 2em;
    padding: 0 10px 10px 0;
    transition: .3s;
}
footer>.icons>i:hover{
    color: #17E6DF;
    transition: .3s;
}
footer > p{
    display: flex;
    justify-content: center;
    margin-top: -7px;
}



/* icons  */
.icons > i{
    font-size: 2.5em;
}

/* form */
.form > .form-group{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
.form > .centered-btn{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
.form input {
    font-size: 1.5em;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    border: none;
    border-bottom: 3px solid #11122b;
    width: 50%;
    display: block;
    transition: all 0.3s;
}



.form textarea {
    margin-top: 20px;
    width: 50%;
    height: 250px;
    border-radius: 3px;
    border: 3px solid #11122b;
    font-size: 1.5rem;
    font-family: inherit;
    color: color;
    padding: 1.5rem 2rem;
    transition: all 0.3s;
}

.form label{
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    color: #17E6DF;
    visibility: hidden;
}

/* button */
.btn {
    background-color: #17E6DF;
    color: black;
    font-size: 1.25em;
    padding: 10px 25px;
    border: 1px solid #17E6DF;
    border-radius: 2px;
    
    transition: 0.3s;
}

.btn:active {
    box-shadow: 5px 5px 3px gray;
}

.centered-btn-wrapper {
    display: flex;
    justify-content: center;
}
